django==1.11.5
djangorestframework==3.4.7
django_extensions==1.9.0
gunicorn==19.5.0
raven==5.19.0
requests>=2.13.0
whitenoise==3.1
directory-sso-api-client==2.5.1
directory-healthcheck==0.4.2
directory-components==1.8.2
directory-ch-client==0.1.1
